/* Ficheiro css da página da acomodação do trabalho individual de programação web */
/* NOME: Roxanne João Coelho */

/* seletor universal: retira a margem e o padding e coloca o modelo de bordex-box, 
que faz com que as dimensoes totais dum elemento incluam margem e padding  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cabecalho: posição relativa, o que é bom para depois poder posicionar os seus elementos filhos 
e width 100% para ocupar toda a largura da div */
.cabecalho {
    position: relative;
    width: 100%;
}

/* imagem do cabeçalho: tem uma largura de 100% em relaçao ao elemento pai para melhor responsividade 
e poe a altura automaticamente em relacao á largura para não distorcer */
.imagem-cabecalho img {
    width: 100%;
    height: auto;
}

/* titulo do cabeçalho: tem que estar no meio do cabeçalho (top e left 50%, e mais um ajuste do transform), 
centralizado (text-align: center) 
e com uma faixa preta que ocupe a largura toda do elemento pai (width:100%) */
.titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; 
}

/* estilos do título: cor branca, fonte Jura, a negrito (bold), font-size e padding com um tamanho responsivo
o vw é Viewport Width, ou seja, por exemplo 1vw = 1% da largura visível da janela do navegador */
.titulo h1 {
    color: white;
    font-family: "Josefin Slab", serif;
    font-weight: bold;
    font-size: 6vw; 
    white-space: nowrap; /* faz com que o titulo fique sempre numa linha e não quebre de linha */
    background-color: rgba(0, 0, 0, 0.85); /* faixa preta transparente ao longo da largura do cabecalho */
    padding: 2vw;
}

/* navbar: colocada no canto superior direito do cabecalho de forma responsiva */
.navbar-transparent {
    position: absolute;
    top: 2vw;
    right: 5vw;
}

/* letras da navbar: preto, negrito, com a fonte Josefin Slab, 
margem superior e inferior 0, esquerda e direita 5vW para dar um certo espaco entre as palavras 
e font size de tamanho responsivo*/
.nav-link {
    color: black;
    font-weight: bold;
    font-family: "Josefin Slab", serif;
    margin: 0 5vw; 
    font-size: 1.5vw;  
}

/* botao para ir para a pagina inicial: colocada no canto superior esquerdo do cabecalho de forma responsiva
o cursor: pointer faz com que seja clicável ao passar com o rato */
.botao-inicio{
    position: absolute;
    top: 2vw;
    left: 5vw;
    cursor: pointer;
}

/* main: definir cor de fundo amarela com 25% transparência com um certo espacamento responsivo*/
.caravana {
    background-color:  rgba(180, 155, 44, 0.25);
    padding: 3vw 5vw;
}

/* espaçamento para as colunas */
.col{
    padding: 2vw;
}

/* estilos para o container-caravana como para o modal-content:
mesmo espacamento, cor de fundo, bordas arredondadas responsivas e uma sombra a direita e em baixo */
.container-caravana, .modal-content {
    padding: 2vw;
    background-color: #dfdfdf; 
    border-radius: 2vw;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}
/* estilos para as imagens do container-caravana como a imagem do modal:
 o display black e margin 0 auto centraliza a imagem e a deixa no topo, 
 width para ajustar a largura responsivamente e as bordas arredondadas */
.container-caravana img, .modal-header img{
    display: block;
    margin: 0 auto;
    width: 80vw;
    border-radius: 2vw;
}

/* para os titulos: negrito com uma margem mais reforçada em baixo e texto centrado, com a fonte Jura e preto*/
.container-caravana h2, .modal-title {
    font-weight: bold;
    padding: 1vw;
    margin-bottom: 1vw; 
    text-align: center; 
    font-family: "Jura", serif;
    color: black;
}

/* para os paragrafos e listas: preto com fonte Jura */
.container-caravana p, ul, .modal-body p{
    color: black;
    font-family: "Jura", serif;   
}

/*para centralizar o +info e garantir que ele fique no fundo da celula*/
.container-caravana p:last-child {
    text-align: center; 
    margin: auto 0; 
}

/* estilos para a imagem de fundo do modal: colocar a imagem nao cortada (cover) e centrada (center) */
.modal-backdrop {
    background-image: url("imagens_figma/caravana laranja.png");
    background-size: cover;
    background-position: center; 
    opacity: 1 !important; /*força a opacidade total, evitando com que o fundo da pagina das caravanas se veja*/
}

.modal-backdrop::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.modal-dialog {
    max-width: 60vw;
    margin: 2vw auto; /* mantém o modal centrado */
}
.modal-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
}

.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 8px;
    z-index: 1;
}


.modal-footer {
    display: flex;
    justify-content: center;
    border-top: none;
    padding: 0 20px 20px;
}

.btn-secondary {
    background-color: #686931;
    color: black;
    border: none;
    margin-top: clamp(1rem, 4vh, 3rem);
    font-size: clamp(0.85rem, 1.8vw, 1.4rem);
    padding: clamp(0.7rem, 1vw, 1.5rem) clamp(1rem, 10vw, 5rem);
    width: clamp(8rem, 25vw, 16rem);
    border-radius: clamp(0.95rem, 4vw, 2.25rem);
    cursor: pointer;
    transition: all 0.3s;
    font-family: "Jura", serif;
}

.btn-secondary:hover {
    background-color: #8f9043;
    transform: scale(1.05);
}
a {
    color: black; /* Garante que o link tenha o texto preto */
    text-decoration: none; /* Remover sublinhado do link */
}

.modal-body .certos li{
    list-style: none;
}
.modal-body .certos li::before {
    content: "✓ ";
}
.footer {
    height: auto;
    background-color: black;
    color: white;
    font-family: "Jura", serif;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* espaço entre os elementos */
    text-align: center;
}

.social-icons {
    display: flex;
    gap: 1rem; /* espaço entre os ícones */
}
.social-icons img {
    cursor: pointer;
}
