/* Ficheiro css da página dos contactos do trabalho individual de programação web */
/* NOME: Roxanne João Coelho */

/* seletor universal: retira a margem e o padding e coloca o modelo de bordex-box, 
que faz com que as dimensoes totais dum elemento incluam margem e padding  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* vamos dar uma cor amarela ao body, quando a tela ficar mais pequena não se ver branco */

body{
    background-color: rgba(180, 155, 44, 0.25);
}

/* cabecalho: posição relativa, o que é bom para depois poder posicionar os seus elementos filhos 
e width 100% para ocupar toda a largura da div */
.cabecalho {
    position: relative;
    width: 100%;
}

/* imagem do cabeçalho: tem uma largura de 100% em relaçao ao elemento pai para melhor responsividade 
e poe a altura automaticamente em relacao á largura para não distorcer 
escurecemos um pouco com o filter*/
.imagem-cabecalho img {
    width: 100%;
    height: auto;
    filter: brightness(60%);
}


/* navbar: colocada no canto superior direito do cabecalho de forma responsiva */
.navbar-transparent {
    position: absolute;
    top: 2vw;
    right: 5vw;
    z-index: 1;
}

/* letras da navbar: branco, negrito, com a fonte Josefin Slab, 
margem superior e inferior 0, esquerda e direita 2vW para dar um certo espaco entre as palavras 
e font size de tamanho responsivo*/
.nav-link {
    color: white;
    font-weight: bold;
    font-family: "Josefin Slab", serif;
    margin: 0 2vw; 
    font-size: 1.5vw;  
}

/* botao para ir para a pagina inicial: colocada no canto superior esquerdo do cabecalho de forma responsiva
o cursor: pointer faz com que seja clicável ao passar com o rato */
.botao-inicio{
    position: absolute;
    top: 2vw;
    left: 5vw;
    cursor: pointer;
}

.container{
    position: absolute;
    top: 20%;
    font-family: "Jura", serif;
}

.contact-form {
    background-color: black;
    color: white;
    padding: 3vw;
    border-radius: 2vw;
    width: 70%;
    margin-left: 6vw;

}

.contact-form input,
.contact-form textarea{
    background-color: white;
    color: black;
    width: 100%;
    padding: 1vw;
    border-radius: 1vw;
    margin-bottom: 2vw;
}

.contact-form button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width: 100%;
    margin-top: 1vw;
    padding: 1vw;                          
    border-radius: 4vw;         
    cursor: pointer;
}

.quote-section{
    z-index: 0;
    color: white;
    margin-top: 4vw;
    margin-left: 6vw;

}
.quote-section h2{
    text-align: center;
}
.quote-section p{
    text-align: right;
}

.modal-content{
    border-radius: 3vw;
    text-align: center;
}
.modal-body{
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 1vw;

}

.modal-footer {
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 1vw;
}

.btn{
    background-color: rgb(54, 109, 228);
    color: white;
    text-align: center;
    width: 40%;
    padding: 1vw;                          
    border-radius: 4vw;

}
.modal-footer .btn:hover {
    background-color:rgb(63, 63, 255); /* azul mais escuro no hover */
    color: white;
  }