/* Ficheiro css da página da acomodação do trabalho individual de programação web */
/* NOME: Roxanne João Coelho */

/* seletor universal: retira a margem e o padding e coloca o modelo de bordex-box, 
que faz com que as dimensoes totais dum elemento incluam margem e padding  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cabecalho: posição relativa, o que é bom para depois poder posicionar os seus elementos filhos 
e width 100% para ocupar toda a largura da div */
.cabecalho {
    position: relative;
    width: 100%;
}

.navbar-transparent {
    position: absolute;
    top: 2vw;
    right: 5vw;
}

.nav-link {
    font-weight: 800;
    font-family: "Jura", serif;
    margin: 0 clamp(20px, 5vw, 40px);
    font-size: 1.5vw;
    color: black;
}
  
.titulo h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Josefin Slab", serif;
    font-weight: 700;
    font-size: 6vw;
  }

.conteudo-principal{
    font-family: "Jura", serif;
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(180, 155, 44, 0.25);
    padding: 3vw;
}

.row .col:nth-child(2) {
    border-left: 1px solid black;
    padding-left: 3vw;
}

.col h3{
    margin-left: 5vw;
    letter-spacing: 0.5vw;
    
}
.col h4{
    font-weight: bold;
    text-align: center;
    margin-bottom: 3vw;
}

.col p{
    line-height: 0.6;
    font-weight: bold;
    text-align: left;

}
.verde{
    color: #686931;

}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25vw;
    
}

.row2{
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-7 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
.col-7 h2{
    color: white;
    margin-bottom: 2vw;
}

.botao-1 {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 1vw 5vw;
    border-radius: 4vw;           
    cursor: pointer;
    font-weight: bold;
}

.arrow-up-1 {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    width: 2vw; /* Tamanho padrão */
    filter: brightness(0) invert(1); /* Deixa branco */
    z-index: 1;
    cursor: pointer;
}

.row3{
    position: relative;
    background-color:  rgba(180, 155, 44, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.row3 .col{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.row3 h2{
    text-align: center;
    margin-bottom: 2vw;
}

.botao-2 {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 1vw 5vw;
    border-radius: 4vw;
    font-weight: bold;
    cursor: pointer;
}

.arrow-up-2{
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    width: 2vw;
    filter: none; /* mantém o ícone preto */
    z-index: 1;
    cursor: pointer;
}

.row4{
    position: relative;
}

.botao-blog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 1vw 7vw;
    border-radius: 4vw;
    font-weight: bold;           
    cursor: pointer;
}

.arrow-up-3 {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    width: 2vw;
    filter: none; /* mantém o ícone preto */
    z-index: 1;
    cursor: pointer;
}


 /*estilos do footer*/
 .footer {
    background-color: black;
    color: white;
    font-family: "Jura", serif;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw; /* espaço entre os elementos */
    text-align: center;
}
/* estilos dos icons das redes sociais */
.social-icons {
    display: flex;
    gap: 1.5vw; /* espaço entre os ícones */

}
/* para fazer com que só no icon é que é clicavel, colocar o cursor pointer na imagem */
.social-icons img {
    cursor: pointer;
}




