/* Ficheiro css da página principal (index) do trabalho individual de programação web */
/* NOME: Roxanne João Coelho */

/* seletor universal: retira a margem e o padding e coloca o modelo de bordex-box, 
que faz com que as dimensoes totais dum elemento incluam margem e padding  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cabecalho: posição relativa, o que é bom para depois poder posicionar os seus elementos filhos 
e width 100% para ocupar toda a largura da div */
.cabecalho {
    position: relative;
    width: 100%;
}

/* navbar: colocada no canto superior direito do cabecalho de forma responsiva */
.navbar-transparent {
    position: absolute;
    top: 2vw;
    right: 5vw;
}

/* letras da navbar: preto, negrito, com a fonte Josefin Slab,
margem superior e inferior 0, esquerda e direita 2vW para dar um certo espaco entre as palavras
e font size de tamanho responsivo*/
.nav-link {
    font-weight: bold;
    font-family: "Jura", serif;
    margin: 0 2vw;
    font-size: 1.5vw;
    color: black;
}

 /*titulo do cabecalho:  tem que estar no meio do cabeçalho (top e left 50%, e mais um ajuste do transform), 
branco, negrito, com a fonte Josefin Slab e um font-size responsivo */
.titulo h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Josefin Slab", serif;
    font-weight: bold;
    font-size: 6vw;
}

/* todo o conteudo da main tem que estar com a fonte Jura */
.conteudo-principal {
    font-family: "Jura", serif;
}

/* na primeira linha, os elementos vao estar centralizados, com uma cor de fundo amarela e um padding responsivo para dar espaço nas bordas e entre as colunas */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(180, 155, 44, 0.25);
    padding: 3vw;
}

/* para criar a linha que divide as colunas, vamos selecionar a segunda coluna e colocar uma linha de 1px de espessuar preta na margem esquerda */
.row .col:nth-child(2) {
    border-left: 1px solid black;
    padding-left: 3vw;
}

/* a frase "viva livre" vai ter uma margem esquerda responsiva para ficar mais centralizada e parecida com o design, e um espaçamento de letras de 0.5 vw */
.col h3 {
    margin-left: 5vw;
    letter-spacing: 0.5vw;
    
}

/* o titulo "trabalhos remotos" vai estar centrado a negrito e com uma margem em baixo para dar espaço das colunas  */
.col h4 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 3vw;
}

/* o texto das colunas de trabalhos remotos estao com um espaçamento de 0.6, negrito e alinhados a esquerda */
.col p {
    line-height: 0.6;
    font-weight: bold;
    text-align: left;

}

/* as palavras "livre" e "mundo" foram selecionadas com a tag span para lhes ser aplicada a cor verde */
.verde {
    color: #686931;

}

/* o display flex e flex-direction row faz com que as colunas dos trabalhos remotos fiquem uma ao lado da outra.
o gap é para dar espaçamento entre as colunas*/
.container {
    display: flex;
    flex-direction: row;
    gap: 25vw;
    
}

/* a segunda linha tem cor de fundo preta e os seus elementos estão centralizados */
.row2 {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* os elementos da col-7 vao estar centralizados com a direçao de coluna (cima para baixo)*/
.col-7 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

/* o titulo é branco com margem em baixo para dar espaço entre o titulo e o botao */
.col-7 h2 {
    color: white;
    margin-bottom: 2vw;
}

/* o botao-1 é transparente, letras brancas, negrito com borda espessa branca, padding para deixar o botao mais alongado e bordas arrendondadas */
.botao-1 {
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    padding: 1vw 5vw;
    border-radius: 4vw;           
    cursor: pointer; /* torna o elemento clicável */
    
}

/* o arrow-up-1 fica no canto inferior direito, com uma largura de 2vw para ficar pequeno*/
.arrow-up-1 {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    width: 2vw; 
    filter: brightness(0) invert(1); /* Deixa branco */
    cursor: pointer;
}

/* a terceira linha tem cor de fundo amarela e os seus elementos estão centralizados */
.row3 {
    position: relative;
    background-color:  rgba(180, 155, 44, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* os elementos da cols da row 3 vao estar centralizados com a direçao de coluna (cima para baixo)*/
.row3 .col {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

/* o titulo da row3 está centrado com uma margem para dar espaço entre o titulo e o botao */
.row3 h2 {
    text-align: center;
    margin-bottom: 2vw;
}

/* o botao-2 segue a mesma estrutura que o botao-1, apenas muda a cor da letra e da borda*/
.botao-2 {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 1vw 5vw;
    border-radius: 4vw;
    font-weight: bold;
    cursor: pointer;
}

/* similar ao arrow-1, muda a posição e a cor do mesmo */
.arrow-up-2 {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    width: 2vw;
    filter: none; /* mantém o ícone preto */
    cursor: pointer;
}

.row4 {
    position: relative;
}

/* o botao blog vai ficar centralizado na row4, com estrutura semelhante aos botoes 1 e 2 */
.botao-blog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 1vw 7vw;
    border-radius: 4vw;
    font-weight: bold;           
    cursor: pointer;
}

/* similar aos restantes arrow */
.arrow-up-3 {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    width: 2vw;
    filter: none; 
    cursor: pointer;
}

 /* rodapé: fundo preto, cor branca, fonte Jura, padding responsivo, elementos com direçao de coluna e centralizados*/
 .footer {
    background-color: black;
    color: white;
    font-family: "Jura", serif;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw; 
    text-align: center;
}

/* estilos dos icons das redes sociais */
.social-icons {
    display: flex;
    gap: 1.5vw; 

}
/* para fazer com que só no icon é que é clicavel, colocar o cursor pointer na imagem */
.social-icons img {
    cursor: pointer;
}




