/* Ficheiro css da página dos locais do trabalho individual de programação web */
/* NOME: Roxanne João Coelho */

/* seletor universal: retira a margem e o padding e coloca o modelo de bordex-box, 
que faz com que as dimensoes totais dum elemento incluam margem e padding  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* vamos dar uma cor amarela ao body, quando a tela ficar mais pequena não se ver branco */

body{
    background-color: rgba(180, 155, 44, 0.25);
}

/* cabecalho: posição relativa, o que é bom para depois poder posicionar os seus elementos filhos 
e width 100% para ocupar toda a largura da div */
.cabecalho {
    position: relative;
    width: 100%;
}

/* imagem do cabeçalho: tem uma largura de 100% em relaçao ao elemento pai para melhor responsividade 
e poe a altura automaticamente em relacao á largura para não distorcer 
escurecemos um pouco com o filter*/
.imagem-cabecalho img {
    width: 100%;
    height: auto;
    filter: brightness(30%);
}


/* navbar: colocada no canto superior direito do cabecalho de forma responsiva e vai ficar por cima de qualquer outro elemento para podermos aceder a vontade */
.navbar-transparent {
    position: absolute;
    top: 2vw;
    right: 5vw;
    z-index: 1;
}

/* letras da navbar: branco, negrito, com a fonte Josefin Slab, 
margem superior e inferior 0, esquerda e direita 2vW para dar um certo espaco entre as palavras 
e font size de tamanho responsivo*/
.nav-link {
    color: white;
    font-weight: bold;
    font-family: "Josefin Slab", serif;
    margin: 0 2vw; 
    font-size: 1.5vw;  
}

/* botao para ir para a pagina inicial: colocada no canto superior esquerdo do cabecalho de forma responsiva
o cursor: pointer faz com que seja clicável ao passar com o rato */
.botao-inicio{
    position: absolute;
    top: 2vw;
    left: 5vw;
    cursor: pointer;
}

 /* container: tem o formulario, a foto e a morada, vai ficar a 20% do topo do cabecalho, para nao tapar o botao inicio e a navbar */
.container{
    position: absolute;
    top: 20%;
    font-family: "Jura", serif;
}

.contact-form {
    background-color: #dfdfdf;
    color: black;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 6vw;
    padding-bottom: 6vw;
    border-radius: 2vw;
    width: 70%;
    margin-left: 6vw;

}

.contact-form select{
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 1vw;
    margin-bottom: 2vw;
    padding: 1vw;
}

.contact-form button {
    background-color: #686931;
    color: black;
    width: 100%;
    margin-top: 2vw;
    padding: 1vw;                          
    border-radius: 1vw;         
    cursor: pointer;
}